<!DOCTYPE html>
<html lang="en">
<head>
    <title>Queue</title>
    <script src="../../statics/js/ace-builds-master/src/ace.js"></script>
    <link rel="stylesheet" href="../../statics/css/normalize.css">
    <link rel="stylesheet" href="../../statics/css/main.css">
    <script src="../../statics/js/lib.js"></script>
    <script src="../../statics/js/queue.js"></script>
    <script src="../../statics/js/button.js"></script>
    <script src="../../statics/js/init.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Autour One' rel='stylesheet' >


   
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
</head>
<body>
    <div class='grid'>
        <div class="navbar1">
        
            <a href="/dashboard">Home</a>
            <a href="/linkedlist">Linked List</a>
            <a href="/stack">Stack</a>
            <a  class="active" href="/queue">Queue</a>
            <a  href="/searching">Searching</a>
            <a href="/sorting">Sorting</a>
           <a id='logout' href="/logout"><button type="button"  style="color:rgb(216, 210, 210); background-color: red;" >Logout</button></a>
            
      </div>
     
        <div id="id01" class="popup">
        <div class="modal-content">
            <span onclick="document.getElementById('id01').style.display='none'" class="close">&times;</span>
            <p style="color:	#3f0f0f;font-family:  'Autour One';">Queue is Full.</p>
          </div>
        
        </div>
        <div id="id02" class="popup">
          <div class="modal-content">
            <span onclick="document.getElementById('id02').style.display='none'" class="close">&times;</span>
            <p style="color: 	#3f0f0f;font-family:  'Autour One';font-size: 20px;">Queue is Empty.</p>
          </div>      
        </div>

        <div id="idModal" class="popup">
            <div class="modal-content">
                <span onclick="document.getElementById('idModal').style.display='none'" class="close">&times;</span>
                <p id="idModalp" style="color:	#3f0f0f;font-family:  'Autour One';">Error in Size.</p>
            </div>            
        </div>


    <div class='col-1-1' id="parent">
    <div id="editor">void enQueue(int value,int size){
    if (rear == size - 1)
        printf("\nQueue is Full!!");
    else{
            if(front == -1)
                front = 0;
            rear++;
            items[rear] = value;
    }
 }
                        
void deQueue(){
if (front == -1)
   printf("\nQueue is Empty!!");
else{
    if(front >= rear)
        front = rear = -1;
    else
        front++;
    }
}</div>
</div>
    <div class='col-1-1' id='animation_box'>
        <div class="stack">
            <div id='variable_set' class="unselectable">
                <div id='temp'></div>
                <div id='heap'></div>
            </div>                    
        </div>
    </div>

    <div id='control_set'>
        <button id="play_btn" class='button button_play' onclick="playButton()">PLAY</button>        
        <button id="step_btn" class='button button_next' onclick="stepButton()">STEP</button>        
        <button id="reset_btn" class='button button_reset'onclick="resetButton()">RESET</button>
    </div>

    <div id='input_set'>
        <div>
            <div id='create_struct'>
                <input type="text" name="" id="max_size" placeholder="Enter Size of queue" class='value_input'>
                <button type="button" class="value_input value_input_create" onclick="createQueue()">
                    Create Queue
                </button>        
            </div>    
        </div>
        <div id='queue_ops'>
            <div id='queue_enqueue' class='col-1-1'>
                <input type="text" name="" id="enqueue_val" class='value_input'>
                <button type="button" class="value_input value_input_push" id="enqueue" onclick="enqueue()" disabled>
                    enqueue
                </button>    
            </div>
            <div id='queue_dequeue'  class='col-1-1'>
                <input type="text" name="" id="dequeue_val" readonly class='value_input' style="box-shadow: none;">
                <button type="button" class="value_input value_input_pop" id="dequeue" onclick="dequeue()" disabled>
                    dequeue
                </button>        
            </div>
        </div>
    </div>
</div>
</body>
</html>