body{
	font-family: 'Open Sans', sans-serif;
	background: url(../images/restaurant.png);
    min-height: 900px;
}
h1 {
    font-size: 2.3em;
    font-weight: 600;
    color: #fff;
    text-align: center;
    font-family: 'Autour One';
    padding-top: 5%;
  }

  .login {
    width: 31%;
    margin: 60px auto 0;
    padding: 15px 0px 0px 0px;
    border-radius: 5px;
    background:#fff;
    box-shadow: 
  inset 0 5px 3px rgba(255,255,255,.22),
  0 0 10px 10px rgba(0,0,0,.1), 
  0 5px 4px rgba(0,0,0,.2);
  }
  .login h2 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-align:center;
  }
  .login form input[type="text"] {
    outline: none;
    font-size: 19px;
    font-weight: 400;
    color: #0f81ec;
    padding: 10px 20px 10px 46px;
    border: 1px solid #2DC2BC;
    border-radius: 5px;
    margin: 0 auto 15px;
    width: 60%;
    -webkit-appearance: none;
  }
  
  .login form input[type="email"] {
    outline: none;
    font-size: 19px;
    font-weight: 400;
    color: #0f81ec;
    padding: 10px 20px 10px 46px;
    border: 1px solid #2DC2BC;
    border-radius: 5px;
    margin: 0 auto 15px;
    width: 60%;
    -webkit-appearance: none;
  }
  form {
    padding: 22px 0px 0px 0px;
  }
  .login input[type="password"] {
    outline: none;
    font-size: 19px;
    font-weight: 400;
    padding: 10px 20px 10px 45px;
    border: 1px solid #2DC2BC;
    border-radius: 5px;
    margin: 0 auto 11px;
    width: 60%;
    -webkit-appearance: none;
    color:#0f81ec;
  }
  .login input[type="confirm password"] {
    outline: none;
    font-size: 19px;
    font-weight: 400;
    padding: 10px 20px 10px 45px;
    border: 1px solid #2DC2BC;
    border-radius: 5px;
    margin: 0 auto 11px;
    width: 60%;
    -webkit-appearance: none;
    color:#0f81ec;
  }

  .login input[type="submit"] {
    background: #2DC2BC;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    padding: 6px 0px;
    width: 20%;
    cursor: pointer;
    outline: none;
    margin: 15px 0px 5px 0px;
    border: none;
    border-radius: 5px;
  }
  .login input[type="submit"]:hover {
	background:rgb(160, 6, 6);
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.login form input.first {
    background: url(../images/user.png)no-repeat 15px 13px #fff;
    display: block;
  }
  .login form input.last {
    background: url(../images/user.png)no-repeat 15px 13px #fff;
    display: block;
  }
  .login form input.email {
    background: url(../images/user.png)no-repeat 15px 13px #fff;
    display: block;
  }
  .login form input.lock {
    background: url(../images/key.png)no-repeat 15px 13px #fff;
    display: block;
  }
  .login form input.doublelock {
    background: url(../images/key.png)no-repeat 15px 13px #fff;
    display: block;
  }

  .login-bottom {
    text-align: center;
    background: rgba(236, 236, 236, 0.29);
    padding: 0px 0px 40px 0px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    padding: 0 1.5em 2em;
  }
  .reg-bwn {
    margin: 50px 0px 25px 0px;
  }

  .reg-bwn a {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: #2DC2BC;
    padding: 8px 25px;
    border-radius: 5px;
  }
  .reg-bwn a:hover{
    background: rgb(219, 0, 0);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
  }
  .login-bwn {
    text-align: center;
  }
 
  @media(max-width:440px){
    .button a {
      float: none;
      width: 100%;
      margin-bottom: 1em;
    }
}
@media (max-width: 320px){
    h1 {
      font-size: 1.5em;
    }
    .login {
      width: 90%;
      margin: 25px auto 0;
      padding: 10px 0px 0px 0px;
    }
    .login h2 {
      font-size: 22px;
    }
    form {
      padding: 15px 0px 0px 0px;
    }
    .login form input[type="text"],.login form input[type="email"],.login input[type="password"] {
      font-size: 13px;
        padding: 9px 20px 9px 45px;
        width: 66%;
    }
    
   
     
    .login input[type="submit"] {
      font-size: 15px;
        width: 25%;
    }
   
  
    .login-bottom h4,.login-bottom h4 a {
      font-size: 13px;
    }
    .reg-bwn a {
      padding: 6px 18px;
    }
   
    body {
      min-height: 748px;
    }
    
    }
    

    /*____________________________________________________________*/


    .popup-wrapper{
    background: rgba(0,0,0,0.5);
    position :fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;

}
.popup{

position: relative;
width: 100%;
max-width: 350px;
margin : 10% auto;
padding: 40px 30px;
background: white;
border-radius: 10px;
box-shadow: -9px  6px 52px -8px rgba(0, 0, 0, 0.4);

}
.popup-close{

position: absolute;
top: 10px;
right: 14px;
cursor: pointer;
font-weight: 600;

}