<!DOCTYPE html>
<html lang="en">
<head>
    <title>Linked-List-Basic Operations</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href=" {% static 'css/main.css' %}">
    <script src="{% static 'js/ace-builds-master/src/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/lib.js' %}"></script>
    <script src="{% static 'js/linked_list.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Autour One' rel='stylesheet' >

    </head>
<body>
    <div class='grid'>
        <div class="navbar1">
        
            <a href="/dashboard">Home</a>
            <a class="active" href="/linkedlist">Linked List</a>
            <a href="/stack">Stack</a>
            <a href="/queue">Queue</a>
            <a  href="/searching">Searching</a>
            <a  href="/sorting">Sorting</a>
            <a id='logout' href="/logout"><button type="button"  style="color:rgb(216, 210, 210); background-color: red;" >Logout</button></a>
            
           </div>

            <div id="id01" class="popup">
                <div class="modal-content">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close">&times;</span>
                    <p id = "id01p" style="color: 	#3f0f0f;font-family:  'Autour One';font-size: 20px;"></p>
                </div>
            </div>

        <div class='col-1-1' id="parent">
            <div id="editor">int insert(struct Node** headptr, int new_data,int pos){
    while (*headptr!=NULL && pos>0){
        // passing the pointer of next node address to head
        headptr=&((*head)->next);
        pos--;
    }
    if(pos>0){    // if headPtr reach null before the pos =0
        return -1;
    }
    struct Node* new_node = (struct Node*) malloc(sizeof(struct Node));
    new_node->data  = new_data; // newNode's next is set to current node at 'pos'
    new_node->next=*headptr;    // headptr is set to new_node
    *headptr= new_node; 
    return 0;
}

int delete(struct Node ** head, int data){
    while(*head!=NULL && data!=(*head)->data){
        head=&((*head)->next);
    }
    if(*head==NULL)
        return -1;    
    struct Node * temp = *head;
    *head = (*head)->next;
    free(temp);        
    return 0;
}

struct Node{
    int data;
    struct Node *next;
  };  
</div>
    </div>
    <div class='col-1-1' id='animation_box'>
        <div class="linked_list">
            <div id='variable_set' class="unselectable">
                <div id='temp'></div>
                <div id='heap'></div>
            </div>                    
        </div>
    </div>

    <div id='control_set'>
        <button id="play_btn" class='button button_play' onclick="playButton()">PLAY</button>
        <button id="step_btn" class='button button_next' onclick="stepButton()">STEP</button>
        <button id="reset_btn" class='button button_reset'onclick="resetButton()">RESET</button>
        <a href="/done/linkedListBo"><button class='button button_reset'>Done</button></a>
    </div>

    <div id='input_set'>
        <div>
            <div id='create_struct'>
                <button type="button" class="value_input value_input_create" onclick="createLinkedList()">
                    Create Linked-List
                </button>        
            </div>    
        </div>
        <div id='linked_list_ops'>
            <div id='stack_push' class='col-1-1'>
                <input type="text" name="" id="insert_val" class='value_input' placeholder="value">
                <input type="text" name="" id="insert_pos" class='value_input' placeholder="position">
                <div class = 'btn_div'>
                <button type="button" class="value_input value_input_push" id="insertInLinkedLIst" onclick="insertInLinkedLIst()" disabled>
                    Insert 
                </button>
            </div>    
            </div>
            <div id='stack_pop'  class='col-1-1'>
                <input type="text" name="" id="del_val" class='value_input' placeholder="value">
                <button type="button" class="value_input value_input_pop" id="deleteFromLinkedList" onclick="deleteFromLinkedList()" disabled>
                    delete
                </button>        
            </div>
        </div>
    </div>
</div>
</body>
</html>